[Unit]
Description=ROS Container
After=network-online.target enable-linger.service
Requires=network-online.target enable-linger.service

[Service]
User=ww
TimeoutStartSec=7200
ExecStartPre=/usr/bin/podman rm -f ros
ExecStartPre=podman build \
  --file /home/ww/wood-walker/02_ros-demo/.devcontainer/Dockerfile \
  --target release \
  --build-arg WORKSPACE_FOLDER="/workspaces/wood-walker/02_ros-demo" \
  --build-arg CYCLONEDDS_PEERS="192.168.2.45" \
  --tag localhost/ros:release \
  /home/ww/wood-walker/02_ros-demo
ExecStart=/usr/bin/podman run -it \
    --name=ros \
    --network=host \
    --cap-add=SYS_PTRACE \
    --security-opt=seccomp=unconfined \
    --device=/dev/gpiomem \
    --device=/dev/mem \
    --device=/dev/i2c-1 \
    --device=/dev/spidev0.0 \
    --device=/dev/spidev0.1 \
    --device=/dev/media0 \
    --device=/dev/media1 \
    --device=/dev/media2 \
    --device=/dev/media3 \
    --device=/dev/media4 \
    --device=/dev/media5 \
    --device=/dev/media6 \
    --device=/dev/video0 \
    --device=/dev/video1 \
    --device=/dev/video2 \
    --device=/dev/video3 \
    --device=/dev/video4 \
    --device=/dev/video5 \
    --device=/dev/video6 \
    --device=/dev/video7 \
    --device=/dev/video19 \
    --device=/dev/video10 \
    --device=/dev/video11 \
    --device=/dev/video12 \
    --device=/dev/video13 \
    --device=/dev/video18 \
    --device=/dev/video31 \
    --device=/dev/video14 \
    --device=/dev/video15 \
    --device=/dev/video16 \
    --device=/dev/video20 \
    --device=/dev/video21 \
    --device=/dev/video22 \
    --device=/dev/video23 \
    --device=/dev/v4l-subdev0 \
    --device=/dev/v4l-subdev1 \
    --device=/dev/dma_heap \
    --group-add=keep-groups \
    --device=/dev/bus/usb/002/002 \
    --device=/dev/HID-SENSOR-2000e1.3.auto \
    --mount=type=bind,source=/sys/class/pwm/pwmchip0,target=/sys/class/pwm/pwmchip0 \
    --mount=type=bind,source=/sys/kernel/rcio/adc,target=/host_sys/kernel/rcio/adc \
    --mount=type=bind,source=/sys/devices/platform/soc/fe215080.spi/spi_master/spi1,target=/sys/devices/platform/soc/fe215080.spi/spi_master/spi1 \
    --mount=type=bind,source=/sys/bus/spi,target=/sys/bus/spi \
    --mount=type=bind,source=/sys/firmware/devicetree/base/soc/spi@7e215080,target=/sys/firmware/devicetree/base/soc/spi@7e215080 \
    --mount=type=bind,source=/sys/module/rcio_spi,target=/sys/module/rcio_spi \
    --mount=type=bind,source=/sys/devices/platform/soc/fe204000.spi/spi_master/spi0/spi0.0,target=/sys/devices/platform/soc/fe204000.spi/spi_master/spi0/spi0.0 \
    --mount=type=bind,source=/sys/devices/platform/soc/fe204000.spi/spi_master/spi0/spi0.1,target=/sys/devices/platform/soc/fe204000.spi/spi_master/spi0/spi0.1 \
    --mount=type=bind,source=/sys/devices/platform/soc/fe215080.spi/spi_master/spi1/spi1.0,target=/sys/devices/platform/soc/fe215080.spi/spi_master/spi1/spi1.0 \
    --mount=type=bind,source=/run/udev,target=/run/udev \
    --mount=type=bind,source=/sys/devices/platform/scb/fd500000.pcie,target=/sys/devices/platform/scb/fd500000.pcie \
    --mount=type=bind,source=/dev/iio:device0,target=/dev/iio:device0 \
    --mount=type=bind,source=/dev/iio:device1,target=/dev/iio:device1 \
    -p 8765:8765 \
    -p 20400:20400/udp \
    -p 20401:20401/udp \
    -p 20410-20500:20410-20500/udp \
    -v /home/ww/wood-walker:/workspaces/wood-walker \
    localhost/ros:release
ExecStop=/usr/bin/podman stop ros
ExecStopPost=-/usr/bin/podman rm -f ros
Restart=always

[Install]
WantedBy=default.target
